.embla {
  overflow: hidden;

  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;

  width: 100%;
  height: 100%;
}

.embla__slide {
  min-width: 100px; /* match smallest card width */
  min-height: 150px;

  margin: 0 0.5rem; /* small screens */
}

/* tablets */
@media (min-width: 640px) {
  .embla__slide {
    margin: 0 0.75rem;
  }
}

/* desktop (lg) */
@media (min-width: 1024px) {
  .embla__slide {
    margin: 0 1rem;
    min-width: 150px;
    min-height: 200px;
  }
}

