.embla {
  overflow: hidden;

  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;

  width: 100%;
  height: 100%;
}

.embla__slide {
  margin: 0;
  margin-inline: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  flex: 0 0 100%;
}
