.embla {
  overflow: hidden;
  width: 100%;
  max-width: 1300px;
  aspect-ratio: 13 / 4; /* same as 1300x400 */
}

/* Container */
.embla__container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Slide */
.embla__slide {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}

/* Image inside slide */
.embla__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
